@charset "UTF-8";
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.2) inset;
  background-color: #f9f9fd;
}

::-webkit-scrollbar-thumb {
  background-color: #df0c70;
  background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.25) 25%, transparent 25%, transparent 50%, transparent);
}

* {
  margin: 0px;
  padding: 0px;
  transition: 1s all ease;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
}

a {
  text-decoration: none;
  color: unset;
}

html, body {
  height: 100%;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(11, 100vw);
  grid-template-rows: 13% 80.5% 6.5%;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: #ffffff;
}

.standart_button {
  background-color: #1b1b1b;
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Chrome/Safari/Opera */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  z-index: 400;
  width: 278px;
  min-width: max-content;
  margin-top: 2rem;
  padding: 1.2rem;
  border-radius: 37px;
  box-shadow: 0px 6px 12px 0px rgba(108, 10, 61, 0.45), 0px 5px 10px rgba(58, 9, 35, 0.45);
  font-size: 1rem;
  font-weight: 400;
  text-align: center;
  color: #ffffff;
  transition: 0.5 all ease;
  cursor: pointer;
  word-wrap: normal;
}
.standart_button:hover {
  background: #df0c70;
}

.screen6_left_side_buttons_variant.variant_active {
  background: #a4a4a4;
}

.screen6_left_side_buttons_variant.variant_active:hover {
  background: #a4a4a4;
}

.screen {
  display: grid;
  grid-template-rows: 13% 80.5% 6.5%;
  grid-template-columns: 57.8% 42.2%;
  /*150 and 85///2fr 10fr 1fr; */
  /*42.19 and 57,81    1.35fr 1fr  */
  width: 100%;
  height: 100%;
  grid-row: 1/-1;
}
.screen__header {
  z-index: -1;
  grid-column: 1/-1;
  grid-row: 1/2;
  content: "";
  padding: 2rem;
  position: relative;
}
.screen__header > * {
  cursor: pointer;
}
.screen__header .logo {
  float: left;
  width: 6.3vmax;
}
.screen__header .menu {
  float: right;
}
.screen__header:after {
  position: absolute;
  text-transform: uppercase;
  color: #d7d7d7;
  letter-spacing: 0.1rem;
  font-weight: 900;
  font-size: 0.9rem;
  right: 0%;
  top: 50vh;
  transform: rotate(-90deg);
}
.screen__footer {
  z-index: 100;
  grid-column: 1/-1;
  grid-row: -2/-1;
  content: "";
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  padding: 2rem;
  display: none;
}
.screen .screen__next_scr {
  display: flex;
  flex-flow: row;
  color: rgba(200, 200, 200, 0.55);
  font-size: 1rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1.44px;
  cursor: pointer;
}
.screen .screen__next_scr__arrow__line {
  display: inline-block;
  background: rgba(200, 200, 200, 0.55);
  height: 2px;
  width: 4rem;
  transform: translate(33%, -220%);
}
.screen .screen__next_scr__arrow__degree {
  border: solid rgba(200, 200, 200, 0.55);
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  transform: translate(100%, -4%) rotate(-45deg);
}
.screen .social_sites {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-flow: row;
  padding-right: 1rem;
}
.screen .social_sites > * {
  padding-right: 1.1rem;
  z-index: 100;
  opacity: 0.5;
}

.screen1 {
  grid-column: 1/2;
}
.screen1__box {
  grid-column: 1/-1;
  grid-row: 1/-1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.screen1__box > img {
  height: 100%;
  width: 100%;
  padding: 3rem;
  object-fit: contain;
}

.screen2 {
  grid-column: 2/3;
  background-color: #f6f6f6;
}
.screen2__left_side {
  display: flex;
  flex-flow: column;
  align-items: flex-start;
  grid-row: 2/3;
  grid-column: 1/2;
  z-index: 100;
}
.screen2__left_side > * {
  padding: 1rem 0px 0px 2rem;
}
.screen2__left_side__header {
  white-space: pre-line;
  font-weight: 900;
  color: #df0c70;
  font-size: 5rem;
  z-index: 100;
  line-height: 4rem;
}
.screen2__left_side__text {
  white-space: pre-line;
  font-size: 2rem;
  font-weight: 900;
  z-index: 100;
  padding-top: 3rem;
}
.screen2__right_side {
  background: url("img/screen2/grey-radish-word_bg.png") 0 0, url("img/screen2/screen2-right-side-purple.png") 0 0;
  background-size: contain, cover;
  background-repeat: no-repeat, no-repeat;
  background-position: 50% 80%;
  grid-column: 2/3;
  grid-row: 1/4;
}
.screen2__radish {
  grid-column: 1/-1;
  grid-row: 1/-1;
  overflow: hidden;
}
.screen2__radish > img {
  height: 100%;
  position: relative;
  left: 21%;
}

.screen3 {
  grid-column: 3/4;
  background-color: #f6f6f6;
  position: relative;
}
.screen3 > .screen__header:after {
  content: "О РЕДИСЕ";
}
.screen3__left_bg {
  grid-row: 1/4;
  grid-column: 1/2;
  background: url("img/screen3/screen3_leftpurple.png") 0 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0%;
  z-index: 10;
}
.screen3__left_side {
  grid-row: 1/4;
  grid-column: 1/2;
  display: flex;
  flex-flow: column;
  align-items: flex-start;
  z-index: 20;
}
.screen3__left_side__header {
  white-space: pre-line;
  font-weight: 900;
  color: #ffffff;
  font-size: 3rem;
  padding: 170px 150px 0px 2rem;
  z-index: 30;
}
.screen3__left_side__text {
  font-weight: 400;
  white-space: pre-line;
  font-size: 1rem;
  color: #ffffff;
  padding: 50px 150px 0px 2rem;
  z-index: 30;
}
.screen3__left_side__button {
  margin-left: 2rem;
  /*background-color: #1b1b1b;
  padding: 0rem 3rem 0rem 3rem;
  margin: 2rem ;
  min-width: min-content;
  height: 4rem;
  border-radius: 37px;
  word-wrap: normal;
  text-align: center;
  color: #f6f6f6;
  font-size: 1rem;
  font-weight: 400;
  line-height: 4rem;
  cursor: pointer;
  z-index: 100;
  transition: .5 all;*/
}
.screen3__left_side__button:hover {
  /*background: $darkgrey-clr;
  color: $dark-clr;
  box-shadow: 0 19px 54px rgba(143, 12, 80, 0.45), 0 23px 60px rgba(58, 9, 35, 0.45);*/
}
.screen3__right_side {
  background: #f6f6f6;
  grid-column: 2/3;
  grid-row: 1/4;
}
.screen3__big-word {
  grid-column: 1/-1;
  grid-row: 1/-1;
  overflow: hidden;
  z-index: 5;
}
.screen3__big-word > img {
  position: relative;
  left: 34.4%;
}
.screen3__radish {
  grid-column: 1/-1;
  grid-row: 1/-1;
  overflow: hidden;
  z-index: 10;
}
.screen3__radish > img {
  height: 100%;
  position: relative;
  left: 31%;
}

.screen4 {
  grid-column: 4/5;
  background: #f6f6f6;
  grid-template-columns: 42.2% 57.8%;
}
.screen4 > .screen__header:after {
  content: "полезные свойства";
  transform: rotate(-90deg) translate(0%, 255%);
}
.screen4__left_bg {
  grid-row: 1/-1;
  grid-column: 1/2;
  background: white;
}
.screen4__left_side {
  grid-row: 2/-1;
  grid-column: 1/2;
  z-index: 1;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
}
.screen4__left_side__radish_block {
  width: 70%;
  position: relative;
  align-items: center;
  justify-content: center;
}
.screen4__left_side__radish_block__info_item {
  position: absolute;
  font-size: 1.3vmax;
  color: #ffffff;
  background: #1b1b1b;
  display: inline-block;
  text-align: center;
  width: 4vmax;
  height: 4vmax;
  line-height: 4vmax;
  border-radius: 50%;
  z-index: 100;
  right: 0%;
  bottom: 0%;
  cursor: pointer;
}
.screen4__left_side__radish_block__info_item:hover {
  transform: scale(1.2);
}
.screen4__left_side__radish_block__info_item:after, .screen4__left_side__radish_block__info_item:before {
  width: 3.7rem;
  height: 3.7rem;
  line-height: 3.7rem;
  color: #1b1b1b;
  border-radius: 70%;
  text-align: center;
  line-height: 1rem;
  position: absolute;
  left: -214%;
  top: 40%;
}
.screen4__left_side__radish_block__info_item:nth-child(1) {
  left: 37.3%;
  top: 5.4%;
}
.screen4__left_side__radish_block__info_item:nth-child(1):before {
  content: "Пищевые";
  left: -214%;
  top: 40%;
}
.screen4__left_side__radish_block__info_item:nth-child(2) {
  left: 68%;
  top: 28.4%;
}
.screen4__left_side__radish_block__info_item:nth-child(2):after {
  content: "Вода";
  left: 156%;
  top: 40%;
}
.screen4__left_side__radish_block__info_item:nth-child(3) {
  left: 34%;
  top: 40.5%;
}
.screen4__left_side__radish_block__info_item:nth-child(3):before {
  content: "Белки";
  left: -214%;
  top: 40%;
}
.screen4__left_side__radish_block__info_item:nth-child(4) {
  left: 61%;
  top: 51.5%;
}
.screen4__left_side__radish_block__info_item:nth-child(4):after {
  content: "Жиры";
  left: 166%;
  top: 40%;
}
.screen4__left_side__radish_block__info_item:nth-child(5) {
  left: 39%;
  top: 62%;
}
.screen4__left_side__radish_block__info_item:nth-child(5):before {
  content: "Углеводы";
  left: -214%;
  top: 40%;
}
.screen4__left_side__radish_block__cutted_radish_img {
  padding: 0rem 0rem 1rem 3rem;
  max-height: 100%;
  max-width: 100%;
  object-fit: contain;
}
.screen4__right_side {
  grid-column: 2/3;
  grid-row: 1/3;
  padding-top: 150px;
  width: 100%;
  display: flex;
  flex-flow: column;
  align-items: flex-start;
}
.screen4__right_side__header {
  padding: 1.5rem 2rem 2rem 7.2rem;
  white-space: pre-line;
  font-weight: 900;
  color: #1b1b1b;
  font-size: 3.2rem;
  letter-spacing: 1px;
}
.screen4__right_side__text {
  padding: 1.8rem 3rem 2rem 7.2rem;
  margin: 0rem 5rem 0rem 0rem;
  font-weight: 400;
  white-space: pre-line;
  font-size: 2vh;
  color: #a4a4a4;
  line-height: 1.5rem;
}
.screen4__right_side__text > span {
  color: #1b1b1b;
  font-weight: 700;
}
.screen4__right_side .scr4_text_el_2 {
  padding: 0rem 5rem 2rem 7.2rem;
}
.screen4__right_side .screen4__right_side__button {
  margin: 0rem 1rem 1rem 7rem;
}

.screen5 {
  grid-column: 5/6;
  background: #f6f6f6;
}
.screen5 > .screen__header:after {
  content: "стоимость";
}
.screen5__sorts {
  grid-row: 1/4;
  grid-column: 1/3;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  width: 100vw;
  margin: 0px auto;
  flex: 0 0 40%;
}
.screen5__sorts__sort_of_radish {
  display: flex;
  flex-flow: column;
  flex: 0 0 50%;
  padding: 140px 2rem 0px 3rem;
}
.screen5__sorts__sort_of_radish__block {
  height: 50%;
  display: flex;
  align-items: flex-end;
}
.screen5__sorts__sort_of_radish__block__info_container {
  margin: 0 auto;
  width: 80%;
  position: relative;
}
.screen5__sorts__sort_of_radish__block__info__item {
  border-radius: 50%;
  max-width: 10vw;
  min-width: min-content;
  height: 2rem;
  font-size: 1rem;
  border-radius: 37px;
  word-wrap: normal;
  text-align: center;
  line-height: 1.5rem;
}
.screen5__sorts__sort_of_radish__block__info__item:before {
  content: "36";
  position: absolute;
  left: 0px;
  top: 20px;
  font-size: 4rem;
  font-weight: 800;
  height: 8vmax;
  width: 8vmax;
  border-radius: 50%;
  background: #ffffff;
}
.screen5__sorts__sort_of_radish__block .info_standart {
  color: #68b98d;
  border: 3px solid #68b98d;
}
.screen5__sorts__sort_of_radish__block .info_premium {
  color: #df0c70;
  border: 3px solid #df0c70;
}
.screen5__sorts__sort_of_radish__block__image {
  max-width: 100%;
  max-height: 100%;
}
.screen5__sorts__sort_of_radish__text {
  height: 40%;
}
.screen5__sorts__sort_of_radish__text__header {
  width: 100%;
  font-weight: 900;
}
.screen5__sorts__sort_of_radish__text__discription {
  width: 100%;
  color: #a4a4a4;
}

.screen6 {
  grid-column: 6/7;
  grid-template-columns: 1fr 1.35fr;
}
.screen6 > .screen__header:after {
  content: "рецепты";
}
.screen6_left_side {
  grid-row: 2/3;
  grid-column: 1/2;
  display: flex;
  flex-flow: column nowrap;
  margin: 2rem 8rem 0rem 2rem;
}
.screen6_left_side__header {
  color: #1b1b1b;
  font-size: 3.4rem;
  font-weight: 900;
  letter-spacing: -0.4px;
  line-height: 1;
  margin: 0rem 0rem 0rem 0rem;
}
.screen6_left_side__text {
  margin: 3.4rem 0rem 0rem 0rem;
  letter-spacing: 0.6px;
  color: #c8c8c8;
}
.screen6_left_side_buttons {
  display: flex;
  flex-flow: row wrap;
  margin: 0.6rem 0rem 0rem 0rem;
}
.screen6_left_side_buttons_variant {
  background: #e9e9e9;
  border-radius: 23px;
  padding: 10px 2.3rem 10px 2.3rem;
  margin: 1.2rem 1.2rem 0rem 0rem;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1rem;
  box-sizing: border-box;
  color: #1b1b1b;
  cursor: pointer;
}
.screen6_left_side_buttons_variant:hover {
  background: #c8c8c8;
}
.screen6_left_side_search_button {
  margin: 5rem 0rem 0rem 0rem;
}
.screen6_right_side {
  grid-column: 2/3;
  grid-row: 1/-1;
  position: relative;
  padding: 150px 40px 100px 0px;
}
.screen6_right_side__block {
  width: 84%;
  height: 100%;
  position: relative;
  padding: 2.7rem 0rem 0rem 0rem;
}
.screen6_right_side__block__cutting_board {
  max-width: 100%;
  max-height: 100%;
  box-shadow: 0px 16px 17px 2px #00000078;
}

.screen7 {
  grid-column: 7/8;
  background: #1b1b1b;
}
.screen7 > .screen__header:after {
  content: "все блюда";
}
.screen7_content__row {
  grid-row: 2/3;
  grid-column: 1/3;
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  margin: 0rem 9rem;
  max-width: 100%;
  max-height: 100%;
}
.screen7_content__row .dish {
  flex: 1 1 33.333%;
  display: flex;
  flex-flow: column;
  max-height: 100%;
}
.screen7_content__row .dish__1 {
  align-self: center;
}
.screen7_content__row .dish__1 .dish__img_block {
  max-width: 60%;
  max-height: 100%;
}
.screen7_content__row .dish__2 {
  align-self: flex-end;
}
.screen7_content__row .dish__3 {
  align-self: flex-start;
}
.screen7_content__row .dish__img_block {
  color: #68b98d;
}
.screen7_content__row .dish__img_block > img {
  max-width: 100%;
  max-height: 100%;
}
.screen7_content__row .dish__header {
  color: #ffffff;
  padding-top: 1rem;
  font-weight: 700;
  white-space: pre-line;
}
.screen7_content__row .dish__name {
  color: #727272;
  font-weight: 300;
  font-style: italic;
}

.screen8 {
  grid-column: 8/9;
  grid-template-columns: 42.2% 57.8%;
  background: #f6f6f6;
}
.screen8 > .screen__header:after {
  content: "окрошка на кефире";
  transform: rotate(-90deg) translate(0%, 250%);
}
.screen8__left_side {
  grid-column: 1/2;
  grid-row: 1/4;
  display: flex;
  flex-flow: column;
}
.screen8__left_side__header {
  white-space: pre-line;
  font-weight: 900;
  color: #1b1b1b;
  font-size: 3.4rem;
  letter-spacing: 0rem;
  line-height: 3.4rem;
  padding: 167px 150px 0px 3rem;
  z-index: 30;
}
.screen8__left_side__text {
  font-weight: 400;
  white-space: pre-line;
  font-size: 1rem;
  color: #757575;
  padding: 3rem 150px 0px 3rem;
  line-height: 1.7rem;
  z-index: 30;
}
.screen8__left_side .scr8_ls_t2 {
  padding: 2rem 150px 0px 3rem;
}
.screen8__left_side__search_button {
  margin-left: 2rem;
}
.screen8__right_side {
  grid-column: 2/3;
  grid-row: 2/4;
  display: flex;
  align-items: flex-end;
}
.screen8__right_side__block {
  position: relative;
  width: 86%;
  padding-right: 5rem;
}
.screen8__right_side__block__cutting_board {
  max-width: 100%;
  max-height: 100%;
}
.screen8__right_side__block .container__okroshka_item {
  position: absolute;
  top: -25%;
  width: 3rem;
  height: 3rem;
}
.screen8__right_side__block .container__okroshka_item .plus_block {
  background: #ffffff;
  box-shadow: 0 13px 35px rgba(23, 23, 23, 0.2);
  border-radius: 50%;
  width: 4rem;
  height: 4rem;
  line-height: 4rem;
  font-size: 4rem;
  text-align: center;
  position: absolute;
  z-index: 100;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
.screen8__right_side__block .container__okroshka_item .plus_block:hover {
  background: #df0c70;
}
.screen8__right_side__block .container__okroshka_item .plus_block__hor_line {
  width: 40%;
  height: 8%;
  background: #1b1b1b;
  position: absolute;
}
.screen8__right_side__block .container__okroshka_item .plus_block__ver_line {
  width: 40%;
  height: 8%;
  background: #1b1b1b;
  position: absolute;
  transform: rotate(90deg);
}
.screen8__right_side__block .container__okroshka_item .plus_block .closed {
  transform: rotate(0deg);
}
.screen8__right_side__block .container__okroshka_item .okroshka_item_block {
  position: absolute;
  transform: translate(-170%, -12%);
}
.screen8__right_side__block .container__okroshka_item .okroshka_item_block1 {
  width: 140%;
  transform: translate(-50%, -15%);
}
.screen8__right_side__block .container__okroshka_item:before {
  /*content: "";
  background: url("img/screen8/gren_item6.png");
  width: 100%;
  height: 100%;
  position: absolute;*/
}
.screen8__right_side__block .container__okroshka_item1 {
  left: 0%;
  top: -25%;
  max-height: 100%;
  max-width: 140%;
}
.screen8__right_side__block .container__okroshka_item2 {
  left: 30.8%;
  top: -25%;
}
.screen8__right_side__block .container__okroshka_item3 {
  left: 59.4%;
  top: -25%;
}
.screen8__right_side__block .container__okroshka_item4 {
  left: 86.6%;
  top: -25%;
}
.screen8__right_side__block .container__okroshka_item5 {
  left: 0%;
  top: 13.3%;
}
.screen8__right_side__block .container__okroshka_item6 {
  left: 30.8%;
  top: 13.3%;
}
.screen8__right_side__block .container__okroshka_item7 {
  left: 59.4%;
  top: 13.3%;
}
.screen8__right_side__block .container__okroshka_item8 {
  left: 86.6%;
  top: 13.3%;
}
.screen8__right_side__block .okroshka_item {
  max-height: 100%;
  max-width: 240%;
  opacity: 0.35;
  cursor: pointer;
}
.screen8__right_side__block .okroshka_item.opacity1 {
  opacity: 1;
}

.screen9 {
  grid-column: 9/10;
}
.screen9 > .screen__header:after {
  content: "окрошка на кефире";
  transform: rotate(-90deg) translate(0%, 230%);
}
.screen9__left_side {
  grid-column: 1/2;
  grid-row: 2/3;
  z-index: 100;
  display: grid;
  grid-template-rows: 1fr;
  justify-content: center;
  align-items: center;
}
.screen9__left_side__title {
  z-index: 100;
  font-size: 5.2rem;
  color: #df0c70;
  margin-left: 29.8%;
  margin-top: -17.5%;
  font-weight: 900;
  line-height: 4.7rem;
}
.screen9__right_side {
  background: #f6f6f6;
  grid-column: 2/3;
  grid-row: 1/-1;
  position: relative;
}
.screen9__right_side__block {
  width: 70%;
  top: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  width: 70%;
  min-width: 300px;
}
.screen9__right_side__block > img {
  max-width: 100%;
  max-height: 100%;
}

.screen10 {
  grid-column: 10/11;
  grid-template-columns: 50% 50%;
}
.screen10 > .screen__header:after {
  content: "старт продаж";
  z-index: 100;
  transform: rotate(-90deg) translate(0%, 70%);
}
.screen10__right_side {
  grid-row: 1/4;
  grid-column: 2/3;
  position: relative;
}
.screen10__right_side__purple_box {
  position: relative;
  width: 23.6vw;
  height: 44.2vh;
  min-height: 200px;
  background: url("img/screen10/scr10_purple_box.png") no-repeat;
  background-size: cover;
}
.screen10__right_side__purple_box > img {
  max-height: 100%;
  max-width: 80%;
  position: absolute;
  bottom: 0%;
}
.screen10__right_side__purple_box > .scr10_radish_img {
  max-width: 137%;
  z-index: 10;
  transform: translate(-142%, 106%);
}
.screen10__right_side__purple_box > .number_eight {
  transform: translate(-50%, 62%);
}
.screen10__right_side__purple_box > .number_two {
  transform: translate(-157%, 62%);
  bottom: 0%;
}
.screen10__right_side__purple_box .month {
  width: 83%;
  position: absolute;
  bottom: 0%;
  transform: translate(-100%, 250%);
  /*top: 147%;
  left: -83%;
  color:$white-clr;
  background: url("img/screen10/month_bg.jpg") no-repeat;
  background-size: cover;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  font-size: 2.6rem;
  line-height: 2.5;
  padding: 37px 88px;*/
}
.screen10__info_block {
  z-index: 200;
  padding: 0.9rem 2rem 2rem 2rem;
  grid-row: 1/4;
  grid-column: 2/3;
  height: 100%;
  width: 130%;
  background: #ffffff;
  position: absolute;
  left: 47.4%;
  top: 83%;
}
.screen10__info_block__header {
  font-size: 3.5vmax;
  font-weight: 900;
  color: #1b1b1b;
}
.screen10__info_block__text {
  font-size: 1rem;
  font-weight: 400;
  color: #a4a4a4;
  padding: 2rem 4rem 0rem 0rem;
  line-height: 1.7rem;
}
.screen10__info_block__button {
  margin-top: 4.1vw;
}

.header {
  z-index: 1500;
  grid-column: 1/-1;
  grid-row: 1/2;
  content: "";
  padding: 2rem;
  position: fixed;
  width: 100%;
}
.header > * {
  cursor: pointer;
}
.header:hover {
  opacity: 1;
}
.header .header__logo__img {
  float: left;
  width: 6.3vmax;
}
.header .header__logo .white_logo_block {
  width: 0vmax;
  position: absolute;
  overflow: hidden;
}
.header .header__logo .white_logo_block > img {
  width: 6.3vmax;
}
.header .menu_button {
  float: right;
  width: 2.13rem;
  height: 2.13rem;
  line-height: 4rem;
  font-size: 4rem;
  text-align: center;
  position: relative;
  z-index: 100;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}
.header .menu_button:hover > .line:nth-child(2) {
  width: 100%;
}
.header .menu_button .line {
  width: 100%;
  height: 11%;
  background: #1b1b1b;
  /*&:before{
    content: "";
    width: 70%;
    height: 11%;
    background: $dark-clr;
    position: absolute;
    transform: translate(-50%, 350%);
  }*/
}
.header .menu_button .line:nth-child(1) {
  width: 100%;
}
.header .menu_button .line:nth-child(2) {
  width: 67.5%;
}
.header .menu_button .line:nth-child(3) {
  width: 100%;
}

.screen_menu {
  grid-column: 1/2;
  grid-row: 1/-1;
  z-index: 1300;
  opacity: 0;
  display: flex;
  justify-content: center;
  background: url("img/screen_menu/bg_scr_menu.png");
  background-color: #1b1b1b;
  background-blend-mode: overlay;
  background-repeat: no-repeat;
  background-size: cover;
}
.screen_menu__close_botton {
  grid-column: 1/2;
  grid-template-rows: 1/2;
  justify-self: end;
  align-self: center;
  right: 5%;
  position: relative;
  display: none;
}
.screen_menu__items {
  display: flex;
  flex-flow: column;
  justify-content: space-evenly;
  height: 100%;
}
.screen_menu__item {
  text-align: center;
  font-size: 1rem;
  font-weight: 700;
  color: #ffffff;
  cursor: pointer;
}

.footer {
  z-index: 1000;
  grid-column: 1/-1;
  grid-row: 3/4;
  content: "";
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  padding: 0rem 0rem 0rem 2rem;
}
.footer__next_scr {
  display: flex;
  flex-flow: row;
  color: rgba(200, 200, 200, 0.55);
  font-size: 1rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1.44px;
  cursor: pointer;
}
.footer__next_scr__arrow__line {
  display: inline-block;
  background: rgba(200, 200, 200, 0.55);
  height: 2px;
  width: 4rem;
  transform: translate(33%, -220%);
}
.footer__next_scr__arrow__degree {
  border: solid rgba(200, 200, 200, 0.55);
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  transform: translate(100%, -4%) rotate(-45deg);
}
.footer__social_sites {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-flow: row;
  padding-right: 1rem;
}
.footer__social_sites > * {
  padding-right: 1.1rem;
  z-index: 100;
  opacity: 0.5;
}

.opacity1 {
  opacity: 1;
}

.width100 {
  width: 100%;
}

/*
@media (max-width: 1220px){
  .screen10__info_block{
    width: 180%;
  }
}*/

/*# sourceMappingURL=teststyle.css.map */
