/** ProximaNova REGULAR **/
@font-face {
  font-family: 'ProximaNova';
  src: url('fonts/ProximaNova-Regular.eot');
  src: local('☺'), url('fonts/ProximaNova-Regular.woff') format('woff'), url('fonts/ProximaNova-Regular.ttf') format('truetype'), url('fonts/ProximaNova-Regular.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
/** ProximaNova LIGHT **/
@font-face {
  font-family: 'ProximaNova';
  src: url('fonts/ProximaNova-Light.eot');
  src: local('☺'), url('fonts/ProximaNova-Light.woff') format('woff'), url('fonts/ProximaNova-Light.ttf') format('truetype'), url('fonts/ProximaNova-Light.svg') format('svg');
  font-weight: 300;
  font-style: normal;
}
/** ProximaNova BOLD **/
@font-face {
  font-family: 'ProximaNova';
  src: url('fonts/ProximaNova-Bold.eot');
  src: local('☺'), url('fonts/ProximaNova-Bold.woff') format('woff'), url('fonts/ProximaNova-Bold.ttf') format('truetype'), url('fonts/ProximaNova-Bold.svg') format('svg');
  font-weight: 700;
  font-style: normal;
}
/** ProximaNova BlACK **/
@font-face {
  font-family: 'ProximaNova';
  src: url('fonts/ProximaNova-Black.eot');
  src: local('☺'), url('fonts/ProximaNova-Black.woff') format('woff'), url('fonts/ProximaNova-Black.ttf') format('truetype'), url('fonts/ProximaNova-Black.svg') format('svg');
  font-weight: 900;
  font-style: normal;
}
/** ALSRubl **/
@font-face {
  font-family: 'ALSRubl';
  src: url('fonts/ALSRubl.eot');
  src: local('☺'), url('fonts/ALSRubl.woff') format('woff'), url('fonts/ALSRubl.ttf') format('truetype'), url('fonts/ALSRubl.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}




$fc-white-menu: rgba(200, 200, 200, 0.55);
$white-clr:#ffffff;
$grey-clr: #f6f6f6;
$greymid-clr: #c8c8c8;
$darkgrey-clr: #a4a4a4;
$darkergrey-clr:#757575;

$dark-clr: #1b1b1b;
$purple-clr:#df0c70;

$scr4-info-size: 4vmax;

$header-height: 150px;
$footer-height: 85px;

$small-fs:1.375rem;
$big-fs: 4rem;

$left-margin:60px;
$padding-top-standart:170px;

::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  -webkit-box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.2) inset;
  background-color: #f9f9fd;
}
::-webkit-scrollbar-thumb {
  background-color:$purple-clr ;
  background-image: -webkit-linear-gradient(45deg,rgba(255, 255, 255, .25) 25%,
          transparent 25%,
          transparent 50%,
          transparent);
}
*{
  margin: 0px;
  padding: 0px;
  transition: 1s all ease;
  box-sizing: border-box;
  font-family: 'ProximaNova', sans-serif;
}
a{
  text-decoration: none;
  color: unset;
}
html,body{
  height: 100%;
}
.wrapper{
  display: grid;
  grid-template-columns: repeat(11,100vw);
  grid-template-rows: 13% 80.5% 6.5%;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: $white-clr;

}
.unselectable-text{
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge */
  user-select: none;
}

.standart_button{
  background-color: $dark-clr;

  z-index: 400;
  width: 278px;
  min-width: max-content;
  margin-top: 2rem;
  padding: 1.2rem ;
  border-radius: 37px;
  box-shadow: 0px 6px 12px 0px rgba(108, 10, 61, 0.45), 0px 5px 10px rgba(58, 9, 35, 0.45);
  font-size: 1rem;
  font-weight: 400;
  text-align: center;
  color: $white-clr;
  //line-height: 3rem;
  transition: 0.5 all ease;

  cursor: pointer;
  word-wrap: normal;
  &:hover{
    background: $purple-clr;
  }
}
.screen6_left_side_buttons_variant.variant_active{
  background: $darkgrey-clr;
}
.screen6_left_side_buttons_variant.variant_active:hover{
  background: $darkgrey-clr;
}
.screen{
  display: grid;
  grid-template-rows: 13% 80.5% 6.5% ;//150px 10fr 85px
  grid-template-columns:   57.8% 42.2%;/*150 and 85///2fr 10fr 1fr; *//*42.19 and 57,81    1.35fr 1fr  */
  width: 100%;
  height: 100%;
  grid-row: 1/-1;
}

.screen1{
  grid-column: 1/2;
  &__box{
    grid-column: 1/-1;
    grid-row: 1/-1;
    display: flex;
    justify-content: center;
    align-items: center;

    &>img{
      height: 100%;
      width: 100%;
      padding: 3rem;
      object-fit: contain;
    }
  }
}
.screen2{
  grid-column: 2/3;
  background-color: #f6f6f6;
  &__left_side{
    display: flex;
    flex-flow: column;
    align-items: flex-start;
    grid-row: 2/3;
    grid-column: 1/2;
    z-index: 100;
    margin-top: 4vw;
    &>*{
      padding: 0rem 0px 0px 3rem;
    }
    &__header{
      white-space: pre-line;
      font-weight: 900;
      color: #df0c70;
      font-size: 6.7rem;
      z-index: 100;
      line-height: 5.5rem;
      letter-spacing: -1px;
    }
    &__text{
      white-space: pre-line;
      font-size: 2.5rem;
      font-weight: 900;
      z-index: 100;
      padding: 6vw 10vw 0rem 3rem;
    }
  }
  &__right_side{
    background: url("img/screen2/grey-radish-word_bg.png")0 0,url("img/screen2/screen2-right-side-purple.png") 0 0  ;
    background-size: contain , cover;
    background-repeat: no-repeat,no-repeat;
    background-position: 50% 80%;
    grid-column: 2/3;
    grid-row: 1/4;
  }
  &__radish{
    grid-column: 1/-1;
    grid-row: 1/-1;
    overflow: hidden;
    &>img{
      height: 100%;
      position: relative;
      left: 21%;
    }
  }
}
.screen3{
  grid-column: 3/4;
  background-color: #f6f6f6;
  position: relative;
  &>.screen__header{
    &:after{
      content: "О РЕДИСЕ";
    }
  }
  &__left_bg{
    grid-row: 1/4;
    grid-column: 1/2;
    background: url("img/screen3/screen3_leftpurple.png")0 0 ;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0% ;
    z-index: 10;
    position: relative;
    &__big_word{
      position: absolute;
      width: 852px;
      right: -2%;
      bottom: 10%;
      transform: translate(60%, 0%);
      &__img{

      }
    }
  }
  &__left_side{
    grid-row: 1/4;
    grid-column: 1/2;
    display: flex;
    flex-flow: column;
    align-items: flex-start;
    z-index: 20;
    padding: 0rem 15rem 0rem 3rem;
    &__header{
      white-space: pre-line;
      font-weight: 900;
      color: #ffffff;
      font-size: 3rem;
      padding: 170px 0rem 1.2rem 0rem;
      z-index: 30;
    }
    &__text{
      font-weight: 400;
      white-space: pre-line;
      font-size: 1.1rem;
      color: #ffffff;
      padding: 1.4rem 0rem 0px 0rem;
      z-index: 30;
      letter-spacing: 0.2px;
      line-height: 1.6;
    }
    &__button{
      margin-top: 3.5rem;
    }
  }
  &__right_side{
    background: $grey-clr;
    grid-column: 2/3;
    grid-row: 1/4;
  }

  &__radish{
    grid-column: 1/-1;
    grid-row: 1/-1;
    overflow: hidden;
    z-index: 10;
    &>img{
      height: 100%;
      position: relative;
      left: 31%;
    }
  }
}
.screen4{
  &>.screen__header{
    &:after{
      content: "полезные свойства";
      transform: rotate(-90deg) translate(0%, 255%);
    }
  }
  grid-column: 4/5;
  background: $grey-clr;
  grid-template-columns:  42.2% 57.8%;

  &__left_bg{
    grid-row: 1/-1;
    grid-column: 1/2;
    background: white;
  }
  &__left_side{
    grid-row: 2/-1;
    grid-column: 1/2;
    z-index: 1;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    &__radish_block{
      width: 70%;
      position: relative;
      align-items: center;
      justify-content: center;

      &__info_item{
        position: absolute;
        font-size: 1vmax;
        font-weight: 700;
        color: $white-clr;
        background: $dark-clr;
        display: inline-block;
        text-align: center;
        width:  $scr4-info-size;
        height: $scr4-info-size;
        line-height: $scr4-info-size;
        border-radius: 50%;
        z-index: 100;
        right: 0%;
        bottom: 0%;
        cursor: pointer;
        &:hover{
            transform: scale(1.2);
        }
        &:after,&:before{
          width: 3.7rem;
          height: 3.7rem;
          line-height: 3.7rem;
          color: $dark-clr;
          border-radius: 70%;
          text-align: center;
          line-height:1rem;
          font-size: 1.3vmax;
          position: absolute;
          left: -214%;top: 40%;
        }
      }
      &__info_item:nth-child(1){left: 37.3%;top: 5.4%; &:before{content: "Пищевые волокна";left: -350%;;top: 40%;width: max-content;}}
      &__info_item:nth-child(2){left: 68%;top: 28.4%; &:after{content: "Вода"; left: 156%;top: 40%;}}
      &__info_item:nth-child(3){left: 34%;top: 40.5%; &:before{content: "Белки";left: -214%;top: 40%;}}
      &__info_item:nth-child(4){left: 61%;top: 51.5%; &:after{content: "Жиры";left: 166%;top: 40%;}}
      &__info_item:nth-child(5){left: 39%;top: 62%; &:before{content: "Углеводы";left: -214%;top: 40%;}}

      &__cutted_radish_img{
        padding: 0rem 0rem 1rem 3rem;
        max-height: 100%;
        max-width: 100%;
        object-fit: contain;
      }
    }
  }
  &__right_side{
    grid-column: 2/3;
    grid-row: 2/3;
    padding: 3.5rem 0rem 0rem 7.1vw ;
    width: 100%;
    display: flex;
    flex-flow: column;
    align-items: flex-start;
    &__header{
      padding: 0rem 2rem 0rem 0rem;
      white-space: pre-line;
      font-weight: 900;
      color: $dark-clr;
      font-size: 3.5rem;
    }
    &__text{
      padding: 0.8rem 3rem 2rem 0rem;
      margin: 0rem 5rem 0rem 0rem;
      font-weight: 400;
      white-space: pre-line;
      font-size: 2vh;
      color: #a4a4a4;
      line-height: 1.65rem;
      letter-spacing: 0.4px;
      &>span{
        color: $dark-clr;
        font-weight: 700;
      }
    }
    .scr4_text_el_2{
      //padding: 0rem 5rem 2rem 7.2rem;
    }
    .screen4__right_side__button{
      margin: 0rem 1rem 1rem 0rem;
    }
  }
}
.screen5{
  &>.screen__header{
    &:after{
      content: "стоимость";
    }
  }
  grid-column: 5/6;
  background: $grey-clr;
  &__sorts{
    grid-row: 1/4;
    grid-column: 1/3;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    width: 100vw;
    margin: 0px auto;
    flex: 0 0 40%;
    padding: 150px 3rem 0px 6.8rem;
    &__sort_of_radish{
      display: flex;
      flex-flow: column;
      flex: 0 0 50%;
      padding: 0px 10rem 0px 0rem;
      &__block{
        height: 50%;
        display: flex;
        justify-content: flex-end;
        position: relative;
        &__info_container{
          width: 80%;
          position: absolute;
          left: 0%;
        }
        &__info__name{
          border-radius: 50%;
          max-width: 10vw;
          min-width: min-content;
          height: 2rem;
          font-size: 1rem;
          border-radius: 37px;
          word-wrap: normal;
          text-align: center;
          line-height: 1.5rem;
          position: absolute;
          cursor: pointer;
          z-index: 100;
          &:hover{
            transform: scale(1.1);
          }
        }
        &__info__cost{
          position: absolute;
          left: 1%;
          top: 30%;
          font-size: 3.1vw;
          font-weight: 900;
          height: 7.5vw;
          width: 7.5vw;
          text-align: center;
          border-radius: 50%;
          background: #ffffff;
          line-height: 6vw;
          z-index: 100;
          box-shadow: 0 30px 40px rgba(23, 23, 23, 0.06);
          cursor: pointer;
          &:before{
            content: "p";
            font-family: "ALSRubl";
            position: absolute;
            font-size: 0.8vw;
            font-weight: 400;
            top: 29%;
            left: 39%;
          }
          &:after{
            content: "/КГ";
            position: absolute;
            top: 30%;
            left: 47%;
            font-weight: 700;
            font-size: 0.8vw;
          }
          &:hover{
            transform: scale(1.1);
          }
        }
        .info_standart{
          color: #68b98d;
          border: 3px solid #68b98d;
          width: 7.9vw;
          top: 11%;
          left: 0%;
        }
        .info_premium{
          width: 7.9vw;
          top: 11%;
          left: 0%;
          color:#df0c70 ;
          border: 3px solid #df0c70;
        }
        &__image{
          max-width: 100%;
          max-height: 100%;
          object-fit: contain;
          position: relative;
        }
      }
      &__text{
        height: 40%;
        padding: 1.6rem 0rem 0rem 0rem;
        &__header{
          width: 100%;
          font-weight: 700;
          font-size: 1.3rem;
          color: $dark-clr;
        }
        &__discription{
          width: 100%;
          color: #a4a4a4;
          padding: 1.2rem 0rem 0rem 0rem;
          line-height: 1.6;
          font-size: 1.1rem;
        }
      }
    }
    .standart_image{
      max-width: 109%;

      left: 0.6%;
      top: 8.5%;
    }
    .premium_image{
      left: 6.4%;
      top: 7.3%;
    }
  }
}



.screen6{
  &>.screen__header{
    &:after{
      content: "рецепты";
    }
  }
  grid-column: 6/7;
  grid-template-columns: 1fr 1.35fr;

  &_left_side{
    grid-row: 2/3;
    grid-column: 1/2;
    display: flex;
    flex-flow: column nowrap;
    margin: 2rem 8vw 0rem 2rem;
    &__header{
      color: $dark-clr;
      font-size: 3.4rem;
      font-weight: 900;
      letter-spacing: -0.4px;
      line-height: 1;
      margin: 0rem 0rem 0rem 0rem ;
    }
    &__text{
      margin: 3.4rem 0rem 0rem 0rem;
      letter-spacing: 0.6px;
      color: $greymid-clr;
    }
    &_buttons{
      display: flex;
      flex-flow: row wrap;
      margin: 0.6rem 0rem 0rem 0rem;
      &_variant{
        background: #e9e9e9;
        border-radius: 23px;
        padding: 10px 2.3rem 10px 2.3rem;
        margin: 1.2rem 1.2rem 0rem 0rem;
        font-size: 1rem;
        font-weight: 700;
        line-height: 1rem;
        box-sizing: border-box;
        color: $dark-clr;
        cursor: pointer;
        &:hover{
          background: $greymid-clr;
        }
      }
    }
    &_search_button{
      margin: 5rem 0rem 0rem 0rem;
    }
  }
  &_right_side{
    grid-column: 2/3;
    grid-row: 1/-1;
    position: relative;
    padding: 150px 40px 100px 0px;
    &__block{
      width: 84%;
      height: 100%;
      position: relative;
      padding: 2.7rem 0rem 0rem 0rem;
      &__cutting_board{
        max-width: 100%;
        max-height: 100%;
        box-shadow: 0px 16px 17px 2px #00000078;
      }
    }
  }
}
.screen7{
  &>.screen__header{
    &:after{
      content: "все блюда";
    }
  }
  grid-column: 7/8;
  background: $dark-clr;
  &_content__row{
    grid-row: 2/3;
    grid-column: 1/3;
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
    margin: 3rem 9rem 6rem 9rem;
    max-width: 100%;
    max-height: 100%;
    .dish{
      flex: 1 1 33.333%;
      display: flex;
      flex-flow: column;
      max-height: 100%;
      &__1{
        align-self: center;
        .dish__img_block{
          max-width: 60%;
          max-height: 100%;
        }
      }
      &__2{
        align-self: flex-end;
        &>.dish__img_block{
          max-width: 60%;
        }
      }
      &__3{align-self: flex-start;}
      &__img_block{
        color: #68b98d;
        &>img {
          //object-fit: contain;
          max-width: 100%;
          max-height: 100%;
        }
      }
      &__header{
        color: $white-clr;
        padding-top: 1rem;
        font-weight: 700;
        white-space: pre-line;
      }
      &__name{
        color: #727272;
        font-weight: 300;
        font-style: italic;
      }
    }
  }
}
.screen8{
  &>.screen__header{
    &:after{
      content: "окрошка на кефире";
      transform: rotate(-90deg) translate(0%, 250%);
    }
  }
  grid-column: 8/9;
  grid-template-columns: 42.2% 57.8%;
  background: $grey-clr;
  &__left_side {
    grid-column: 1/2;
    grid-row: 1/4;
    display: flex;
    flex-flow: column;
    &__header {
      white-space: pre-line;
      font-weight: 900;
      color: $dark-clr;
      font-size: 3.4rem;
      letter-spacing: 0rem;
      line-height: 3.4rem;

      padding: 167px 150px 0px 3rem;
      z-index: 30;
    }
    &__text {
      font-weight: 400;
      white-space: pre-line;
      font-size: 1rem;
      color: $darkergrey-clr;
      padding: 3rem 150px 0px 3rem;
      line-height: 1.7rem;
      z-index: 30;
    }
    .scr8_ls_t2 {
      padding: 2rem 150px 0px 3rem;
    }
    &__search_button {
      margin-left: 2rem;
    }
  }
  &__right_side {
    grid-column: 2/3;
    grid-row: 2/4;
    display: flex;
    align-items: flex-end;
    &__block {
      position: relative;
      width: 86%;
      padding-right: 5rem;
      &__cutting_board {
        max-width: 100%;
        max-height: 100%;
      }
      .container__okroshka_item {
        position: absolute;
        top: -25%;
        width: 3rem;
        height: 3rem;
        .plus_block{
          background: $white-clr;
          box-shadow: 0 13px 35px rgba(23, 23, 23, 0.2);
          border-radius: 50%;
          width: 4rem;
          height: 4rem;
          line-height: 4rem;
          font-size: 4rem;
          text-align: center;

          position: absolute;
          z-index: 100;
          cursor: pointer;
          display: flex;
          justify-content: center;
          align-items: center;
          &:hover{
            background: $purple-clr
          }
          &__hor_line{
            width: 40%;
            height: 8%;
            background: $dark-clr;
            position: absolute;
          }
          &__ver_line{
            width: 40%;
            height: 8%;
            background: $dark-clr;
            position: absolute;
            transform: rotate(90deg);
          }
          .closed{
            transform: rotate(0deg);
          }
        }
        .okroshka_item_block{
          position: absolute;
          transform: translate(-170%, -12%);
        }
        .okroshka_item__discription{
          position: absolute;
          top: 200%;
          min-width: max-content;
          left: -170%;
          &.elem1{left: -80%;}
          &.elem2{left: -220%;}
          &.elem3{}
          &.elem4{}
          &.elem5{left: -80%;}
          &.elem6{}
          &.elem7{left:-220%}
          &.elem8{left: -130%;}
          &>span{
            font-weight: 300;
            color: #7e7e7e;
            display: inline;

          }
        }
      &:before{
        /*content: "";
        background: url("img/screen8/gren_item6.png");
        width: 100%;
        height: 100%;
        position: absolute;*/
      }
      }
      .container__okroshka_item1{
        left: 0%;
        top: -25%;
        max-height: 100%;
        max-width: 140%;
        .okroshka_item1_block{
          transform: translate(-80%, -31%);
        }
      }
      .container__okroshka_item2{
        left: 30.8%;
        top: -25%;
      }
      .container__okroshka_item3{
        left: 59.4%;
        top: -25%;
      }
      .container__okroshka_item4{
        left: 86.6%;
        top: -25%;
      }
      .container__okroshka_item5{
        left: 0%;
        top: 13.3%;
      }
      .container__okroshka_item6{
        left: 30.8%;
        top: 13.3%;
        .okroshka_item6_block{
          transform: translate(-170%, -10%);
          .okroshka_item6{
            max-width: 290%;
          }
        }
      }
      .container__okroshka_item7{
        left: 59.4%;
        top: 13.3%;
      }
      .container__okroshka_item8{
        left: 86.6%;
        top: 13.3%;
      }

      .okroshka_item{
        max-height: 100%;
        max-width: 240%;
        opacity: 0.35;
        cursor: pointer;
        &.opacity1{
          opacity: 1;
        }
      }
    }
  }
}
.screen9{
  &>.screen__header{
    &:after{
      content: "окрошка на кефире";
      transform: rotate(-90deg) translate(0%, 230%);
    }
  }
  grid-column: 9/10;
  &__left_side{
    grid-column: 1/2;
    grid-row: 2/3;
    z-index: 100;
    display: grid;
    grid-template-rows: 1fr;
    justify-content: center;
    align-items: center;
    &__title{
      z-index: 100;
      font-size: 6.2rem;
      color: #df0c70;
      margin-left: 18.4%;
      margin-top: -16.9%;
      font-weight: 900;
      line-height: 6rem;
      letter-spacing: 3.1px;
    }
  }
  &__right_side{
    background: $grey-clr;
    grid-column: 2/3;
    grid-row: 1/-1;
    position: relative;
    &__block{
      width: 70%;
      top: 50%;
      position: absolute;
      transform: translate(-50%, -50%);
      width: 70%;
      min-width: 300px;
      &>img{
        max-width: 100%;
        max-height: 100%;
      }
    }
  }
}
.screen10 {
  &>.screen__header{
    &:after{
      content: "старт продаж";
      z-index: 100;
      transform: rotate(-90deg) translate(0%, 70%);
    }
  }
  grid-column: 10/11;
  grid-template-columns: 50% 50%;
  &__left_side{}
  &__right_side{
    grid-row: 1/4;
    grid-column: 2/3;
    position: relative;
    &__purple_box{
      position: relative;
      width: 23.6vw;
      height: 44.2vh;
      min-height: 200px;
      background: url("img/screen10/scr10_purple_box.png") no-repeat;
      background-size: cover;
      &>img{
        max-height: 100%;
        max-width: 80%;
        position: absolute;
        bottom: 0%;

      }
      &>.scr10_radish_img{
        max-width: 137%;
        z-index: 10;
        //top: 35%;
        //left: 6%;
        transform: translate(-142%, 106%);      }
      &>.number_eight{transform: translate(-50%, 62%);}
      &>.number_two{
        transform: translate(-157%, 62%);
        bottom: 0%;
      }
      .month{
        //height: 31%;
        width: 83%;
        position: absolute;
        bottom: 0%;
        transform: translate(-100%, 250%);

        /*top: 147%;
        left: -83%;
        color:$white-clr;
        background: url("img/screen10/month_bg.jpg") no-repeat;
        background-size: cover;
        font-weight: 700;
        text-transform: uppercase;
        text-align: center;
        font-size: 2.6rem;
        line-height: 2.5;
        padding: 37px 88px;*/
      }

    }
  }
  &__info_block{
    z-index: 200;
    padding: 0.9rem 2rem 2rem 2rem;
    grid-row: 1/4;
    grid-column: 2/3;
    height: 100%;
    width: 130%;
    background: #ffffff;
    position: absolute;
    left: 47.4%;
    top: 83%;
    &__header{
      font-size: 3.5vmax;
      font-weight: 900;
      color: $dark-clr;

    }
    &__text{
      font-size: 1rem;
      font-weight: 400;
      color: $darkgrey-clr;
      //line-height: 1.4rem;
      padding: 2rem 4rem 0rem 0rem;
      line-height: 1.7rem;

    }
    &__button{
      margin-top: 4.1vw;
    }
  }
}


//MENU BUTTON

.header{
  z-index: 1500;
  grid-column: 1/-1;
  grid-row: 1/2;

  content: "";
  padding: 2rem;
  position: fixed;
  display: flex;
  right: 0px;
  width: min-content;

  &>*{cursor: pointer}
  &:hover{
    opacity: 1;
  }
  .menu_button{
    float: right;
    width: 2.13rem;//34px
    height: 2.13rem;//34px

    line-height: 4rem;
    font-size: 4rem;
    text-align: center;

    position: relative;
    z-index: 100;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    &.open{
      &>.line:nth-child(1){
        width: 130%;
        transform: rotate(-44deg);
        transform-origin: right;
      }
      &>.line:nth-child(2){
        width: 67.5%;
        opacity: 0;
      }
      &>.line:nth-child(3){
        width: 130%;
        transform: rotate(43deg);
        transform-origin: right;
      }
    }
    &.white{
      .line{
        background: $white-clr;
      }
    }
    &:hover{
      &>.line:nth-child(2){width: 100%}
    }
    .line{
      width: 100%;
      height: 11%;
      background: $dark-clr;
      //position: absolute;
      /*&:before{
        content: "";
        width: 70%;
        height: 11%;
        background: $dark-clr;
        position: absolute;
        transform: translate(-50%, 350%);
      }*/

      &:nth-child(1){width: 100%}
      &:nth-child(2){
        width: 67.5%
      }
      &:nth-child(3){width: 100%}

    }
  }
}

//LOGO MENU
.header__logo{
  z-index: 1500;
  grid-column: 1/-1;
  grid-row: 1/2;
  content: "";
  padding: 2rem 2rem 0rem 3rem;
  position: fixed;
  display: flex;
  left: 0px;
  width: min-content;
  justify-content: flex-end;
  cursor: pointer;
  transition-property: opacity, z-index;
 //transition-delay: 10ms, 1000ms;
  transition-duration: 1s,10ms;
  &__img{
    float: left ;
    width: 97px;;
  }
  .white_logo_block{
    width: 0vmax;
    position: absolute;
    overflow: hidden;
    &.active{
      width: 97px;;
      transition-property: width;
      transition-delay: 500ms;
    }
    &>img{width: 97px;}
  }
}

//MENU BUTTONS
.screen_menu{
  grid-column: 1/2;
  grid-row: 1/-1;
  z-index: -1300;
  opacity: 0;
  //display: none;
  display: flex;
  justify-content: center;
  background:  url("img/screen_menu/bg_scr_menu.png")  ;
  background-color: rgba(27, 27, 27);
  background-blend-mode: overlay;
  background-repeat: no-repeat;
  background-size: cover;

  &__close_botton{
    grid-column: 1/2;
    grid-template-rows: 1/2;
    justify-self: end;
    align-self: center;
    right: 5%;
    position: relative;
    display: none;
  }
  &__items{
    display: flex;
    flex-flow: column;
    //justify-content: space-between;
    justify-content: space-evenly;
    height: 100%;

  }
  &__item{
    text-align: center;
    font-size: 1rem;
    font-weight: 700;
    color: $white-clr;
    cursor: pointer;
  }
}

//LEFT DISCRIPTION
.page_left_disription{
  transform: rotate(-90deg);
  z-index: 1500;
  grid-column: 1/-1;
  grid-row: 1/2;
  /* padding: 2rem; */
  position: fixed;
  display: flex;
  right: 4%;
  top: 50%;
  width: 1px;
  height: 1px;
  &__text{
    width: min-content;
    transform: translate(-50%, 0px);
    color: #d7d7d7;
    font-size: 0.8rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2px;
    overflow: revert;
    white-space: pre;
  }

}

//FOOTER DOWN MENU
.footer{
  z-index: 1000;
  grid-column: 1/-1;
  grid-row:3/4;
  display: flex;
  width: min-content;
  justify-content: flex-end;
  cursor: pointer;
  padding: 0rem 0rem 0rem 2rem;
  //display: none;
  &__next_scr{
    display: flex;
    flex-flow: row;
    color: $fc-white-menu;
    font-size: 1rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1.44px;
    cursor: pointer;
    &__text{}
    &__arrow{

      &__line{
        display: inline-block;
        background: $fc-white-menu;
        height: 2px;
        width: 4rem;
        position: relative;
        transform: translate(10%, -300%);
        &:after{
          content: "";
          border: solid $fc-white-menu;
          border-width: 0 2px 2px 0;
          display: inline-block;
          padding: 3px;
          position: absolute;
          right: 0px;
          transform: translate(15%, -42%) rotate(-45deg);
        }
      }
    }
  }

}
.footer__social_sites{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-flow: row;
  padding-right: 1rem;

  z-index: 1000;
  grid-column: 1/-1;
  grid-row: 1/2;

  content: "";
  padding: 2rem;
  position: fixed;
  right: 0px;
  bottom: 0px;
  /* left: 0px; */
  width: min-content;
  //justify-content: flex-end;

  &__block{
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
    .social_sites__vk{
      padding-right: 1.1rem;
      z-index: 100;
      opacity: 0.5;
      &>img{

      }
    }
    .social_sites__fb{
      padding-right: 1.1rem;
      z-index: 100;
      opacity: 0.5;
      &>img{

      }
    }
    .social_sites__yt{
      padding-right: 1.1rem;
      z-index: 100;
      opacity: 0.5;
      &>img{

      }
    }
  }
  &>*{

  }
}

.opacity1{
  opacity: 1;
}
.width100{
  width: 100%;
}
.fade{
  opacity: 0;

}
.fadeZindex{
  z-index: -2000;
}
.appear{
  opacity: 1;
}
/*
@media (max-width: 1220px){
  .screen10__info_block{
    width: 180%;
  }
}*/



@media (max-width:600px){
  .screen5__sorts{
    flex-flow: column;
  }
}
